<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chia khối</title>
    <link rel="stylesheet" href="frontend/css/chiakhoi.css">
</head>
<body>
<div class="container">
    <div class="menu">
        <div class="logo">
            <img src="frontend/image/logo.png" alt="">
        </div>
        <div class="item">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Training</a></li>
                <li><a href="#">Event</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

<!--Content 1-->
    <div class="content1" style="position: relative">
        <div class="left">
            <img src="frontend/image/image.png" alt="">
        </div>
        <div class="right">
            <h1>Balance Your Body and Mind</h1>
            Duis aute irure dolor in reprehenderit in voluptate velit asse cillum dolore<br>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        </div>
        <img src="frontend/image/Design.png" alt="" style= "position:absolute">
    </div>

<!--Content 2-->
    <div class="content2">
        <img src="frontend/image/Shape.png" alt="">
        <div class="tt">
            <h1>Pregnant Women Progarm</h1><br>
            Duis aute irure dolor in reprehenderit in voluptate velit asse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        </div>

    </div>

<!--    Content 3-->
    <div class="content3" >

        <div class="content3_1 "  >
            <div class="abc" style="position: relative">
                <img src="frontend/image/Icon-2.png" alt="" style="position: absolute">
                <img src="frontend/image/Brush-2.png" alt="" style="position: absolute">
            </div>
            <div class="Program1">
                <b>Program 1</b> <br>
                sint occaecat cupidatat non
            </div>

        </div>
        <div class="content3_2">
            <div class="abcd" style="position: relative">
                <img src="frontend/image/Icon-1.png" alt="" style="position: absolute">
                <img src="frontend/image/Brush-1.png" alt="" style="position: absolute">
            </div>
            <div class="Program2">
                <b>Program 2</b> <br>
                sint occaecat cupidatat non
            </div>
        </div>

        <div class="content3_3">
            <div class="abcde" style="position: relative">
                    <img src="frontend/image/Icon.png" alt="" style="position: absolute">
                    <img src="frontend/image/Brush.png" alt="" style="position: absolute">
            </div>
            <div class="Program3">
                <b>Program 3</b> <br>
                sint occaecat cupidatat non

            </div>
        </div>
    </div>

<!--    Content 4-->
    <div class="content4"  style="position: relative">
        <img src="frontend/image/Design4.png" alt="">
        <div class="content4-l" style="position: absolute">
            <h1>Yoga Breathing <br>or Pranayama</h1>
            Duis aute irure dolor in reprehenderit in voluptate velit asse<br> cillum dolore
            eu fugiat nulla pariatur. Excepteur sint<br> occaecat cupidatat
        </div>
        <div class="content4-r"  style="position: absolute">
            <img src="frontend/image/anhthien.png" alt="" >
        </div>
        <div class="all" style="position: absolute">
            <img src="frontend/image/Designvv.png" alt="">
        </div>
    </div>

<!--    content5-->
    <div class="content5" style="position: relative">
        <img src="frontend/image/image 4.png" alt="">
        <div class="content5-r" style="position: absolute">
            <img src="frontend/image/Brush-10.png" alt="">
        </div>
        <div class="content5-write" style="position: absolute">
            <h1>Join Now and<br>Get 50% Off</h1>
            Duis aute irure dolor in reprehenderit in voluptate velit<br> asse cillum dolore
            eu fugiat nulla pariatur. Excepteur<br> sint occaecat cupidatat
        </div>
    </div>

<!--    content 6-->
    <div class="content6" style="position: relative" >
        <img src="frontend/image/khkhk.png" alt="">
        <div class="content6-1" style="position: absolute" >
            <h1>Galery</h1>
        </div>
        <div class="content6-2" style="position: absolute">
            Neque laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt.
            Dictum<br> furse ut placerat orci nulla pellentesque dignissim enim sit
        </div>
      <div class="a1" style="position: absolute">
          <img src="frontend/image/Backgroundc6.png" alt="">
      </div>
        <div class="a2" style="position: absolute">
            <img src="frontend/image/Backgroundc6.png" alt="">
        </div>
        <div class="a3" style="position: absolute">
            <img src="frontend/image/Backgroundc6.png" alt="">
        </div>
        <div class="a11" style="position: absolute">
            <img src="frontend/image/ảnh 3.png" alt="">
            <h1>Facilis Gravida</h1>
        </div>
        <div class="a21" style="position: absolute">
            <img src="frontend/image/ảnh 2.png" alt="">
            <h1>Facilis Gravida</h1>
        </div>
        <div class="a31" style="position: absolute">
            <img src="frontend/image/ảnh 1.png" alt="">
            <h1>Facilis Gravida</h1>
        </div>
    </div>

<!--    content7-->
    <div class="content7" style="position: relative">
        <img src="frontend/image/Backgroundkk.png" alt="">
        <div class="content7-l" style="position: absolute">
            <img src="frontend/image/Imagemmm.png" alt="">
        </div>
        <div class="tamgiac" style="position: absolute">
            <img src="frontend/image/tamgiac.png" alt="">
        </div>
        <div class="content7-r" style="position: absolute">
            <h1>Yoga Training<br>
            Video Showreel</h1>
            Duis aute irure dolor in reprehenderit in voluptate velit<br> asse cillum dolore
            eu fugiat nulla pariatur. Excepteur<br> sint occaecat cupidatat
        </div>
        <div class="content7-r-b" style="position: absolute">
            <img src="frontend/image/Social Media.png" alt="">
        </div>
    </div>

<!--    content8-->
    <div class="content8" style="position: relative">
        <img src="frontend/image/Designrr.png" alt="" >
       <div class="content8_1" style="position: absolute">
           <h1>Get in Touch</h1>
       </div>
        <div class="content8_2" style="position: absolute">
            Neque laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt.
            Dictum<br> furse ut placerat orci nulla pellentesque dignissim enim sit
        </div>
        <div class="form" style="position: absolute">
            <img src="frontend/image/form.png" alt="">
        </div>
        <div class="button" style="position: absolute">
            <img src="frontend/image/button.png" alt="">
        </div>
    </div>

<!--    content9-->
<div class="foot" style="position: relative">
    <img src="frontend/image/foot.png" alt="">
    <div class="foot1" style="position: absolute">
        <khanh>
        <h1>Your Company</h1>
        <br>
        <br>
        Halimun Street 25<br>
        Jakarta, Indonesia<br>
        12850
        <br>
        <br>
        www.yourdomain.com
        </khanh>
    </div>
    <div class="foot2" style="position: absolute">
        <khanh>
        Sitemap<br>
            <br>
        Home<br>
            <br>
        About<br>
            <br>
        Blog<br>
            <br>
        Menu<br>
            <br>
        Store<br>
                <br>
        Contact<br>
        </khanh>
    </div>
    <div class="foot3" style="position: absolute">
        <khanh>
            Lorem Ipsum<br>
            <br>
            Neque<br>
            <br>
            Suspendisse<br>
            <br>
            Dictum<br>
            <br>
            Porttitor<br>
            <br>
            Tincidunt<br>
            <br>
            Enim lobortis<br>
        </khanh>
    </div>
    <div class="foot4" style="position: absolute">
        <khanh>
            Sit Amet<br>
            <br>
            Neque<br>
            <br>
            Suspendisse<br>
            <br>
            Dictum<br>
            <br>
            Porttitor<br>
            <br>
            Tincidunt<br>
            <br>
            Enim lobortis<br>
        </khanh>
    </div>
    <div class="foot5" style="position: absolute">
        <img src="frontend/image/logogoo.png" alt="">
    </div>
    <div class="foot6"style="position: absolute">
        <img src="frontend/image/lll.png" alt="">
    </div>
    <div class="foot7" style="position: absolute">
        <khanh>
        Copyright @ 2020 Freepik<br>
        Company S.L. All rights reserved<br>
        </khanh>
    </div>
</div>

</div>
</body>
</html>
