<!DOCTYPE html>
<html>
    <head>
        <title>Trang chủ</title>
        <link rel="stylesheet" href="frontend/css/home.css">
    </head>
    <body>
    <h1>Xin chào mọi người</h1>

    <div class="menu">
        <div class="logo">
        </div>
        <div class="item">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Training</a></li>
                <li><a href="#">Event</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

    </div>
    <div class="content" >
        <img src="frontend/image/Design.png" alt="">
        <div class="left">
            <img src="frontend/image/image.png" alt="">
        </div>
        <div class="right">
            <h1>Balance Your Body and Mind</h1>
            Duis aute irure dolor in reprehenderit in voluptate velit asse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        </div>
    </div>
    <div class=""></div>
    </body>
</html>
